extends ../layout

block head
  link(rel="stylesheet" href="/assets/css/step-one.css")

block content
  
  ul.steps.container.steps-container.has-content-centered
    li.steps-segment.is-active
      span.steps-marker
        span.icon
          i.fa.fa-id-card
      .steps-content
        p Isi data

    li.steps-segment
      span.steps-marker
        span.icon
          i.fas.fa-file-alt
      .steps-content
        p Cek ulang
    li.steps-segment
      span.steps-marker
        span.icon
          i.fa.fa-credit-card
      .steps-content
        p Pembayaran
    li.steps-segment
      span.steps-marker
        span.icon
          i.fa.fa-check 
      .steps-content
        p Sukses
  
  .container
    .details
      h2.is-size-4 Data Diri
      form.form
        .box
          .container
            .columns
              .column
                label Nama
                input.input(type="text" name="nama" placeholder="Name")
            .columns
              .column.is-half
                label Nomor Handphone
                .field
                  .control
                    input.input(type="text" name="hp" placeholder="+6282212345678" )
              .column.is-half
                label Email
                input.input(type="email" name="email" placeholder="email@example.com")
    .details
      h2.is-size-4 Detail pesanan
      .box
        .container
          h4.has-text-weight-semibold Zero Badminton
          .columns
            .column.is-one-fifth
              p.has-text-weight-semibold Tanggal
              p 16/06/2019
            .column.is-one-fifth
              p.has-text-weight-semibold Jam Mulai
              p 19.00
            .column.is-one-fifth
              p.has-text-weight-semibold Durasi
              p 2 Jam
            .column.is-one-fifth
              p.has-text-weight-semibold Harga
              p Rp 100.000
            .column.is-one-fifth
              a.button.is-medium.vertical-center.green-button.has-text-weight-bold.has-text-white(role="button" href="/step-two") Selanjutnya
