block head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")
  style(type="text/css").
    #bottomCarousel{
      background-color:#F2F4F5;
      padding-bottom: 5em;
      padding-top: 3em;
    }
    .card{
      border-radius:10px;
      width:19vw;
    }
    .court-image{
      border-top-left-radius:10px;
      border-top-right-radius:10px;
    }

#bottomCarousel
  .container
    #myBotCarousel.carousel.slide(data-ride="carousel")
      // Indicators
      ol.carousel-indicators
        li.active(data-target="#myBotCarousel" data-slide-to="0")
        li(data-target="#myBotCarousel" data-slide-to="1")
        li(data-target="#myBotCarousel" data-slide-to="2")
      // Wrapper for slides
      .carousel-inner
        h1.centered.has-text-weight-semibold.home-title Top Lapangan             
        .item.active
          .columns
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat

            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
        .item
          .columns
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat

            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h4.font-green.centered Zero Badminton
                  h5.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
        
        .item
          .columns
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h3.font-green.centered Zero Badminton
                  h4.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h3.font-green.centered Zero Badminton
                  h4.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat

            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h3.font-green.centered Zero Badminton
                  h4.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
            
            .column.is-one-quarter
              .card
                .card-image(style="background-color:##8EC63F")
                  img.court-image(src="/assets/img/badminton-court.jpg")
                .card-content
                  h3.font-green.centered Zero Badminton
                  h4.centered ITC Kebon Kelapa (Roof Floor). Kalapa, Bandung, Jawa Barat
        
  