style(type="text/css").

  .navbar {
    padding: 0.5em;
    margin-bottom: none;
  }
  .button-outlined {
    color: #8BBF46;
    background: transparent;
    border-width: 1px;
    border-color: #8BBF46;
    padding: 1.25em 1em;
  }
  .button-outlined:hover {
    color: white;
    background: #8BBF46;
    border-width: none;
  }
  #image{
    widht: 500px !important;
  }

nav.navbar(role='navigation', aria-label='main navigation')(style='padding: 0px; margin-bottom: 0px;')
  .navbar-brand
    a.navbar-item.navbar-logo(href='/')
      img#image(src='/assets/img/logo.png' ,widht= '200px', height='200px')
    a.navbar-item.navbar-logo(href='/lobby') Lobby
    a.navbar-item.navbar-logo(href='/rank') Rank
    a.navbar-item.navbar-logo(href='/match') Match
    a.navbar-item.navbar-logo(href='/community') Community
    a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        .buttons
          if !user
            a.button.button-outlined.has-icon-left(href="/login")
              span.icon
                i.fas.fa-user
              | &nbsp; Login
          else
            a.button.button-outlined.has-icon-left(href="/logout")
              span.icon
                i.fas.fa-user
              | &nbsp; Logout