//- .navbar.navbar-light.fixed-top.navbar-expand-lg
//-   .container
//-     a.navbar-brand(href='/')
//-       i.fas.fa-cube
//-       | Jolly-Bye
//-     button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
//-       span.sr-only Toggle navigation
//-       span.navbar-toggler-icon
//-     .collapse.navbar-collapse
//-       ul.nav.navbar-nav
//-         li.nav-item(class=(title === 'Home') ? 'active' : undefined)
//-           a.nav-link(href='/') Home
//-         li.nav-item(class=(title === 'Menu 1') ? 'active' : undefined)
//-           a.nav-link(href='/api') Menu 1
//-         li.nav-item(class=(title === 'Menu 2') ? 'active' : undefined)
//-           a.nav-link(href='/contact') Menu 2
//-         li.nav-item(class=(title === 'Menu 3') ? 'active' : undefined)
//-           a.nav-link(href='/status') Menu 3
//-       ul.nav.navbar-nav.ml-auto
//-         if !user
//-           li.nav-item(class=(title === 'Login') ? 'active' : undefined)
//-             a.nav-link(href='/login') Login
//-           li.nav-item(class=(title === 'Sign Up') ? 'active' : undefined)
//-             a.nav-link(href='/signup') Create Account
//-         else
//-           li.dropdown(class=(title === 'Account Management') ? 'active' : undefined).nav-item
//-             a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
//-               if user.profile.picture
//-                 img(src=user.profile.picture)
//-               else
//-                 img(src=user.gravatar(60))
//-               span= user.profile.name || user.email || user.id
//-               i.caret
//-             ul.dropdown-menu
//-               li.dropdown-item
//-                 a(href='/account') My Account
//-               li.divider.dropdown-item
//-               li.dropdown-item
//-                 a(href='/logout') Logout
.container
  nav.navbar.navbar-fixed-top(style="background-color:white")
    .navbar-header
      a.navbar-brand(href="#") Jolly-Bye
    ul.nav.navbar-nav
      li.active
        a(href="#") Home
      li
        a(href="#") Page 1
      li
        a(href="#") Page 2
    ul.nav.navbar-nav.navbar-right
      li
        a(href="#")
          span.glyphicon.glyphicon-user
          |  Sign Up
      li
        a(href="#")
          span.glyphicon.glyphicon-log-in
          |  Login