// Navbar
nav.navbar(role='navigation', aria-label='main navigation')
  .navbar-brand
    a.navbar-item.navbar-logo(href='/')
      img(src='img/logo.png')
    a.navbar-burger.burger(role='button', aria-label='menu', aria-expanded='false', data-target='navbarBasicExample')
      span(aria-hidden='true')
      span(aria-hidden='true')
      span(aria-hidden='true')
  #navbarBasicExample.navbar-menu
    .navbar-end
      .navbar-item
        .buttons
          a.button.button-outlined.has-icon-left
            span.icon
              i.fas.fa-user
            | Login