extends ../layout

block content
  .container
    .box
      .media(style="padding-bottom: 20px;")
        .media-left
          figure.image.is-200x200
            img(src='https://bulma.io/images/placeholders/96x96.png', alt='Placeholder image')
        .media-content
          .icons
            h5.title.is-5(style="display: inline;") Komunitas Pecinta Nasi Goreng Pak Mus
            span(style="display: inline;")
              i.fas.fa-users
            p(style="display: inline; margin-left: 5px;") 1 Member
          p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
        span(style="display: inline;")
          i.fas.fa-trophy
        p(style="display: inline; margin-left: 5px;") 0

      a.button.is-primary(style="position: absolute; right: 10px; bottom: 10px;") Gabung
      .content