extends layout

block head
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css")
  link(rel="stylesheet" href="/assets/css/court-info.css")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js")

block content
  .container
    .columns
      .column.is-half
        #myCarousel.carousel.slide(data-ride="carousel")
          // Indicators
          ol.carousel-indicators
            li.active(data-target="#myCarousel" data-slide-to="0")
            -var k = 0;
            while (k < 3)
              li(data-target="#myCarousel" data-slide-to=i+1)
              -k++;
          // Wrapper for slides
          .carousel-inner             
            .item.active
              img.centered.main-image(src="assets/img/badminton-court.jpg" alt="Header")
            -var i = 0;
            while (i < k+1)
              .item
                img.centered.main-image(src="assets/img/badminton-court.jpg" alt="Header")
              -i++;
        -var j = 0;
        .columns
          while (j < i)
            .column.is-one-quarter
              img.centered.side-image(src="assets/img/badminton-court.jpg")
            -j++;

      .column.is-half
        h2.has-text-weight-semibold.court-name Zero Badminton
        -var i = 0;
        while (i < 5)
          .icon
            i.fas.fa-star
          -i++;

        br
        .address
          i.fa.fa-map-marker
          span   Jl. Cimandiri 1, Bintaro, Tangerang Selatan
        
        .open-hour
          h4 Jam Buka
          i.fas.fa-clock
          span   07.00 - 22.00
        
        .desc
          h4 Deskripsi Lapangan
          p Salah satu lapangan Badminton terbaik di kawasan Tangerang Selatan. Dekat dengan lingkungan kampus dan wisata kuliner bintaro, membuat tempat ini seringkali menjadi pilihan untuk berolahraga. Akses yang juga merupakan jalan utama dan ditengah perumahan dengan alam yang asri. Lapangan disini yang berbahan interlock, sangat terawat dan memanjakan kamu yang suka mengeluarkan skill terbaikmu saat bermain dengan Tim. Booking Zero Badminton di Jofy sekarang

    -var j = 0;
    -var i = 0;
    while ( j < 2)
      .columns
        -var i = 0;
        while ( i < 8)
          if i % 2 == 0
            .column.is-one-eight
              button.button.green-button.centered.time-button.is-large.has-text-weight-semibold.has-text-white #{j+i+(7*(j+1))}.00
          else
            .column.is-one-eight
              button.button.red-button.centered.time-button.is-large.has-text-weight-semibold.has-text-white #{j+i+(7*(j+1))}.00
          -i++;
      -j++;
    
    .box
      .container
        .columns
          .column.is-one-five
            label Nama
            p Izur Budianto
          .column.is-one-five
            label Tanggal
            p 16/06/2019
          .column.is-one-five
            label Waktu
            p 19.00
          .column.is-one-five
            label Durasi
            p 2 Jam
          .column.is-one-five
            button.button.is-large.vertical-center.green-button.has-text-weight-bold.has-text-white(type="submit") Book Now!


   
    

        



        
      
          
       
        