extends layout

block head
  //- link(rel='stylesheet', href='/assets/home.css')


block content
  include partials/carousel-top

  style(type="text/css").
    @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
    *{
      font-family: 'Quicksand', sans-serif;
    }
    .centered {
      width: 100%;
    }
    .head-form  {
    z-index:2;
    }
    #head-form{
      z-index:2;
      margin-top:100px;
      background-color: white;
    }

    #promotion{
      align-items: center;
      margin: auto;
    }
    .centered{
      margin-left: auto;
      margin-right: auto;
      display: block;
      text-align: center; 
    }
    #topPick{
      background-color :grey;
    }
    .carousel-inner{
      z-index: 0;
    }
    #box-form{
      z-index:10;
      margin-top:-70px;
    }
    #bottom-lay{
      background-color:#353535;
    }
    .font-green{
      color:#8EC63F;
    }
    #box-header{
      padding-left:3%;
      padding-right:3%;
    }
    
  .columns#bottom-lay
    h1 .

  .container#box-form
    .box#box-header
      .columns
        .column.is-full
          h1.has-text-weight-semibold Hai, mau main
          h1.has-text-weight-semibold
            span.has-text-weight-bold.font-green bulutangkis 
            | di mana ?
      //- .columns.is-full
      form.form.columns
        .column.is-three-quarters
          .columns
            .column.is-two-thirds
              label Kota Tempat Lapangan
              .field
                .control.has-icons-left
                  input.input.is-large(type="text" placeholder="Lokasi Lapangan")
                  span.icon.is-left
                    i.fas.fa-map-marker.fa-lg
            .column.is-one-third
              label Tanggal
              .field
                .control.has-icons-left
                  input.input.is-large(type="text" placeholder="Tanggal")
                  span.icon.is-left
                    i.fas.fa-calendar.fa-lg
        .column.is-one-quarter
          .columns
            .column.is-half
              label Waktu Mulai
              .field
                .control.has-icons-left
                  //- input.input.is-large(type="text" placeholder="Waktu")
                  .select.is-large
                    select
                      -var i = 0;
                      while (i < 24)
                        option #{i}.00
                        -i++;


                  span.icon.is-left
                    i.fas.fa-clock.fa-lg
            .column.is-half
              label Durasi
              .field
                .control.has-icons-left
                  input.input.is-large(type="text" placeholder="Durasi")
                  span.icon.is-left
                    i.fas.fa-stopwatch.fa-lg

      
  //- #head-form.container
  //-   .card.head-form
  //-     .card-body
  //-       form.form(action="")  
  //-         .row
  //-           .col-lg-8
  //-             .form-group
  //-               label.form-label Lokasi
  //-               input.form-control(type='text')
  //-           .col-lg-4
  //-             .form-group
  //-               label.form-label Tanggal
  //-               input.form-control(type='text')
  //-           .col-lg-4
  //-             .form-group
  //-               label.form-label Jam Mulai
  //-               input.form-control(type='text')
  //-           .col-lg-4
  //-             .form-group
  //-               label.form-label Durasi
  //-               input.form-control(type='text')
  //-           .col-lg-4
  //-             .form-group
  //-               label.form-label     .
  //-               btn.btn.btn-primary.form-control Cari Lapangan
  
  .main-container
    .container
      #promotion
        .col-lg-12
          h1.centered Promotion
        .col-lg-4
          img.centered(src="/image/bukalapak-logo.jpg")
        .col-lg-4
          img.centered(src="/image/bukalapak-logo.jpg")
        .col-lg-4
          img.centered(src="/image/bukalapak-logo.jpg")

      #joinUs
        .col-lg-12
          h1.centered Why Join Us
        .col-lg-12
          .col-lg-3
            img(src="/image/bukalapak-logo.jpg")
          .col-lg-9
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam non nisi est sit. Pellentesque habitant morbi tristique senectus et netus.
        .col-lg-12
          .col-lg-9
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam non nisi est sit. Pellentesque habitant morbi tristique senectus et netus.
          .col-lg-3
            img(src="/image/bukalapak-logo.jpg")
          .col-lg-12
          .col-lg-3
            img(src="/image/bukalapak-logo.jpg")
          .col-lg-9
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus nisl tincidunt eget nullam non nisi est sit. Pellentesque habitant morbi tristique senectus et netus.
  .container-fluid#topPick
    .col-lg-12 
      h1.centered Top Lapangan
            
      
