extends layout

block head
  link(rel="stylesheet" href="/assets/css/step-one.css")

block content
  ul.steps
    li.steps-segment
     span.steps-marker
      span.icon
        i.fa.fa-check
    li.steps-segment
     span.steps-marker
      span.icon
        i.fa.fa-check
    li.steps-segment
     span.steps-marker
      span.icon
        i.fa.fa-check
    li.steps-segment
     span.steps-marker
      span.icon
        i.fa.fa-check 