.head-form  {
  z-index:2;
}
#head-form{
  z-index:2;
  margin-top:-50px;
  background-color: tomato;
}

#promotion{
  align-items: center;
  margin: auto;
}
.centered{
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; 
}
#topCarousel{
  background-color:#353535;
  z-index: 0;
}
#topPick{
  background-color :grey;
}