extends ../layout

block head
  link(rel='stylesheet' href='/assets/css/rank/search.css')  

block content
  include ../partials/header
  .title-container
    .lobby-title
      p Bersaing Lebih Asik
    .lobby-subtitle
      p Catat berdasarkan ranked game yang diikuti
  // Rank
  section.section.search-container
    .container
      .columns.is-multiline
        .column.is-full
          .box
            .columns
              .column.is-narrow
                | 1
              .column.is-two-third
                p.rank-name Juniardi Akbar
              .column.is-narrow
                p.rank-score 19850
          .box
            .columns
              .column.is-narrow
                | 2
              .column.is-two-third
                p.rank-name Azhar Abdurrasyid
              .column.is-narrow
                p.rank-score 18291
          .box
            .columns
              .column.is-narrow
                | 3
              .column.is-two-third
                p.rank-name Riandi Ramadhan
              .column.is-narrow
                p.rank-score 15213
          .box
            .columns
              .column.is-narrow
                | 4
              .column.is-two-third
                p.rank-name Fariz Wakan
              .column.is-narrow
                p.rank-score 13421
          .box
            .columns
              .column.is-narrow
                | 5
              .column.is-two-third
                p.rank-name Ahmad Mutawalli
              .column.is-narrow
                p.rank-score 12123
          .box
            .columns
              .column.is-narrow
                | 6
              .column.is-two-third
                p.rank-name Isa Mujahid
              .column.is-narrow
                p.rank-score 10211
          .box
            .columns
              .column.is-narrow
                | 7
              .column.is-two-third
                p.rank-name Muhammad Fikri
              .column.is-narrow
                p.rank-score 8012
          .box
            .columns
              .column.is-narrow
                | 8
              .column.is-two-third
                p.rank-name Irfan Haris
              .column.is-narrow
                p.rank-score 7123