extends ../layout

block head
  link(rel='stylesheet' href='/assets/css/track/search.css')  

block content
  include ../partials/header
  .title-container
    .lobby-title
      p Catat Hasil Tandingmu
    .lobby-subtitle
      p Catat berdasarkan ranked game yang diikuti
  // Lobby
  section.section.search-container
    .container
      .columns.is-multiline
        .column.is-half
          .box
            .content
              h5.title.is-5 Main Bareng Pak Mus
              p
                i.lobby-icon.far.fa-clock
                |                   17.00 | 2 Jam
              p
                i.lobby-icon.far.fa-calendar
                |                   15 Juni 2019
              p
                i.lobby-icon.fas.fa-map-marker
                |                   GOR Badminton Tadika
              a.button.button-join.is-fullwidth TRACK
        .column.is-half
          .box
            .content
              h5.title.is-5 Main Bareng Pak Mus
              p
                i.lobby-icon.far.fa-clock
                |                   17.00 | 2 Jam
              p
                i.lobby-icon.far.fa-calendar
                |                   15 Juni 2019
              p
                i.lobby-icon.fas.fa-map-marker
                |                   GOR Badminton Tadika
              a.button.button-join.is-fullwidth TRACK
        .column.is-half
          .box
            .content
              h5.title.is-5 Main Bareng Pak Mus
              p
                i.lobby-icon.far.fa-clock
                |                   17.00 | 2 Jam
              p
                i.lobby-icon.far.fa-calendar
                |                   15 Juni 2019
              p
                i.lobby-icon.fas.fa-map-marker
                |                   GOR Badminton Tadika
              a.button.button-join.is-fullwidth TRACK
        .column.is-half
          .box
            .content
              h5.title.is-5 Main Bareng Pak Mus
              p
                i.lobby-icon.far.fa-clock
                |                   17.00 | 2 Jam
              p
                i.lobby-icon.far.fa-calendar
                |                   15 Juni 2019
              p
                i.lobby-icon.fas.fa-map-marker
                |                   GOR Badminton Tadika
              a.button.button-join.is-fullwidth TRACK
        .column.is-half
          .box
            .content
              h5.title.is-5 Main Bareng Pak Mus
              p
                i.lobby-icon.far.fa-clock
                |                   17.00 | 2 Jam
              p
                i.lobby-icon.far.fa-calendar
                |                   15 Juni 2019
              p
                i.lobby-icon.fas.fa-map-marker
                |                   GOR Badminton Tadika
              a.button.button-join.is-fullwidth TRACK